@model List<J3OMotors_v1._0.Models.Autos.AutosViewModel>

@{
    ViewData["Title"] = "";
}





<main>
        
        <div class="col-md-12">
                <br />
                <h1 class="text-center">TODA NUESTRA GAMA DE VEHICULOS</h1>
                <br />
                <hr>
                <br/>  
        </div>
   
        
        
        <div class="">
            <h2>@ViewData["Title"]</h2>
            <div class="row m-xxl-5">
       
                @foreach (var auto in Model)
                {
                    <div class="col-md-3">
                        <div class="card mb-4 border-4 h-100 shadow-lg">
                            <div class="card-header" style="height:250px">
                                
                                <img src="@auto.RutaImagen" alt="Imagen de @auto.Modelo" class="img-fluid h-100 w-100" />
                                
                            </div>
                            <div class="card-body border-2">
                                <p class="card-text">
                                    Modelo: @auto.Modelo<br />
                                    Fabricante: @auto.Fabricante<br />
                                    Año: @auto.FechaModelo<br />
                                    Precio: @auto.Costo<br />
                                </p>
                                
                            </div>
                        <a href="#" class="btn btn-primary btn-dark btn-lg">Cotizar</a>
                        </div>
                    </div>
                }



            </div>
        </div>

</main>
