@model IEnumerable<J3OMotors_v1._0.Models.Autos.AutosViewModel>

@{
    ViewData["Title"] = "TablaAutos";
}

<link href="~/css/MyCustoms.css" rel="stylesheet" />


<section class="min-vh-100 d-flex align-items-center mt-5" style="background-color: #f8f9fa;">

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12">

                <div class="card shadow-lg rounded-4 border-0">

                    <div class="card-header bg-dark text-white text-center rounded-top-4 p-5">
                        <h3 class="mb-0">Listado de Autos</h3>
                    </div>

                    <div class="card-body p-5 bg-white rounded-bottom-4">

                        <table class="table table-bordered table-hover text-center align-middle">
                            <thead class="table-dark">
                                <tr>
                                    <th>Id</th>
                                    <th>Modelo</th>
                                    <th>Fabricante</th>
                                    <th>Fecha del Modelo</th>
                                    <th>Costo</th>
                                    <th>imagen</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item  in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Modelo</td>
                                        <td>@item.Fabricante</td>
                                        <td>@item.FechaModelo</td>
                                        <td>$@item.Costo</td>
                                        <td>
                                            <img src="@item.RutaImagen" alt="Imagen del auto" class="img-fluid" style="width: 100px; height: auto;" />
                                        <td>
                                            <a asp-action="Edit" asp-controller="Autos" asp-route-id="@item.Id" class="btn btn-sm btn-primary me-1 fs-4">Editar</a>
                                            <a asp-action="Delete" asp-controller="Autos" asp-route-id="@item.Id" class="btn btn-sm btn-danger fs-4">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="text-center mt-4">
                            <a asp-action="Create" asp-controller="Autos" class="btn btn-success custom-button fs-3 mt-4">Registrar Nuevo Auto</a>
                        </div>
                   
                    </div>

                </div>
            
            </div>
       
        </div>

    </div>

</section>


